@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.spiral{
    font-family: 'Spirax', cursive;
}

nav a.active{

    background-color: crimson;
    border-radius: 5px;
    padding: 5px;
    color: white;

}